@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #9ca3af;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #9ca3af;
}

body {
  background: #9ca3af;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#__next {
  height: 100%;
}

canvas {
  display: block;
  user-select: none;
  -webkit-user-select: none;
  outline: none;
}
